<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
	<div *ngIf="userDetails" class="sidebar" data-color="red" data-image="">
		<app-navbar></app-navbar>
		<div class="sidebar-background" style="background-image: url(assets/img/sidebar-5.jpg)"></div>
    </div>
    {{ userDetails }}
	<div class="main-panel">
        <app-sidebar></app-sidebar>
        <router-outlet></router-outlet>
		<div *ngIf="userDetails">
			<app-footerbar></app-footerbar>
		</div>
	</div>
</div>