<div class="row mt-4">
    <div class="container">
        <div class="wrapper">
            <div class="wrapperd-div">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2019</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/lucasalvesferreira/">Lucas Alves Ferreira</a>
                </li>
            </ul>
        </footer>
    </div>
</div>